/*
GLOBAL
*/

.overlay:after {
    background-color: rgb(255 255 255 / 0%) !important;}
   


body{
    text-decoration: none;
}
/* iframe */

.ifra {
    text-align: center;
    margin: 1px 133px !important;
    padding: 1% 27% !important;
    
    color: rgb(0, 0, 0);
    background-color: #00c9ff ;
}


/*  fine des ifram*/

.subtitle {
color: red !important;
text-align: center;
}
.heading-site {
text-align: center;
font-family: "Montserrat", sans-serif;

}


.COLORED {
height: 400px;
width: 100%;
background-color: #ffffff;
padding: 30px;
text-align: center;

}

/*
HEADER
*/
.header {
width: 100%;
margin-left: 0;
margin-right: 0;
height: 70px;
line-height: 70px;
position: fixed;
background-color: rgba(106, 0, 0, 0.64);
z-index: 999;
top: -1px;
padding: block !important;
}

.header .header-logo {
color: #fff;
font-family: "Montserrat", sans-serif;
float: left;
margin-left: 30px;
}
                           
.header .header-menu  {
float: right;
margin-right: 30px;

}
.header .header-menu a {
margin-right: 15px;
color: rgb(255, 255, 255)}
.header .header-menu a:hover {
    color: #c11111b1; 
}
.acc {
    background-color: #c11111b1 ;
}

.top {
margin-left: auto;
margin-right: auto;
width: 6em

}
/* BANER
*/
.banner {
margin-top: 68px;


}
.banner-image {
padding:  none;
top: -68px
  
}
.banner .banner-image {
position: relative;


}

.banner .banner-content  {
position: absolute;
width: 100%;
overflow:hidden; clear:both; margin-top:35px; margin-bottom:10px; padding-bottom:0;
text-align: center;
top: 30%;


}
.petit-titre {
text-align: center;

width: 100;
padding:50% 0 100%;
margin-top: 60PX;


}
.banner .banner-content h1,
.banner .banner-content h2 {
color:  #ffffff!important;
} 
.banner .banner-content .is-2 {
color:  #e02b20!important;
text-transform:uppercase;
font-size:24px;
font-weight:bold;
overflow:hidden; clear:both; margin-top:35px; margin-bottom:10px; padding-bottom:0;
}
.hola{
background:#ffc107;
border: none;
color: white;
padding: 12px 32px !important;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 17px;



position: absolute;
margin: 46%;
top: 53%;
overflow:hidden; clear:both; margin-top:225px; margin-bottom:10px; padding-bottom:0;
text-align: center;
top: 45%;

}

/* a propos*/
[pagelayer-id="bc7TML05kUZLlnRc"] .pagelayer-background-overlay {
opacity: 0.5;
-webkit-transition: all 400ms !important;
transition: all 400ms !important;
}
.pagelayer-background-overlay {
position: absolute;
width: 100%;
top: 0;
left: 0;
height: 100%;
overflow: hidden;
}
/* fin a propos*/
/*  bvufvy */
#gd-pre-footer { overflow:hidden; clear:both; margin-top:35px; margin-bottom:10px; padding-bottom:0; }
#gd-pre-footer .col-item { padding:15px 25px; text-align:center; list-style:none; }
#gd-pre-footer .ul  { padding-left:0 !important; }
#gd-pre-footer center { background:rgba(255, 255, 255, 0.64); }
@media screen and (min-width: 768px) {
#gd-pre-footer .col-item {
width:25%;
text-align:center;
float:left;
padding:5px 15px;
}
}

/* modal*/
.own-modal {
 padding-top: 120px;
}


.pricing {
margin: 0;
padding: 0;
box-sizing: border-box;

}
.pricing-wrapper {    
display: flex;
flex-direction: column;
justify-content: center;
}
.pricing-wrapper h3 {
font-size:28px;
text-align:center;
margin: 1rem 0 1rem 0;
}
.pricing-wrapper  p {
text-align: center;
margin-bottom: 4rem;
}
.pricing {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.pricing .plan {
    background-color: #fff;
    padding: 30PX 0%;
    margin: 15px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    min-width: 268px;
    box-shadow: 0 0 5px rgba(000,000,000,0.2);
}
.pricing .plan:hover {
box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
.pricing .plan h2 {
font-size: 22px;
margin-bottom: 12px;   
}
.pricing .plan .price {
justify-content: center;
margin-bottom: 1rem;
font-size: 30px; 
}
.pricing .plan ul.features {
list-style-type: none;
text-align: left;
}
.pricing .plan ul.features li {
margin: 8px;
}
.pricing .plan ul.features li:before { display:none; }
.pricing .plan ul.features li .fas {
margin-right: 4px;
}
.pricing .plan ul.features li .fa-check-circle {
color: #e02b20!important;
}
.pricing .plan ul.features li .fa-times-circle {
color: #e02b20!important;
}
.pricing .plan .plan-btn {
    display: inherit;
    text-decoration: none;
    border: none;
    width: 87%;
    MARGIN: 6%;
    padding: 7px 8px;
    margin-top: 1rem;
    background-color:gold;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pricing .plan.popular {
border: 2px solid FF6600;
position: relative;
transform: scale(1.08);
}
.pricing .plan.popular span {
position: absolute;
top: -15px;
left: 50%;
transform: translateX(-50%);
background-color: #FF00;
color: #fff;
padding: 4px 5px;
font-size: 16px;
border-radius: 5px;
}




h4
{
 color: #000000!important;
 
}

.rol {
background-color:  rgba(163,17,21,0.64);
color: #ffffff!important;
text-align: center;
}
.role {

background-color:  #00c9ff !important;
color: #ffffff!important;
text-align: center;

}
.rol {
padding: 15px 30px;
border: 0;
font-size: 1.5em;
transition: color 1s;
}

.rol:hover {
background-color: rgb(102, 0, 255);
}
a{
color:  rgba(163,17,21,0.64);
}
.price{
  color: #00a1ff;
  text-align: center;
}


.styled {
border: 0;
line-height: 2.5;
padding: 0 20px;
font-size: 1rem;
text-align: center;
color: rgb(255, 255, 255);
text-shadow: 1px 1px 1px #000;
border-radius: 10px;
background-color:rgba(163,17,21,0.64);

 

}
h3 {
 color: red;
}


/* dg popup */
.dg-popup #dg-popup-modal {
display: none; 
position: fixed; 
z-index: 9999999; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.7); 
}
.dg-popup .modal-content {
background-color: #fefefe;
text-align:center;
margin: 5% auto; 
padding: 15px;
position:relative;
height:  100%;
max-width: 800px;
min-height:300px;
}
.dg-popup .img { max-width:100%; margin:0 auto 20px auto; }
.dg-popup .modal-title {
text-transform:uppercase;
font-size:24px;
font-weight:bold;
margin-bottom:20px;
}
.dg-popup .modal-text {
padding:35px; 
}
.dg-popup .modal-btn  {
background:#FF6600;
color:#FFF;
display:inline-block;
padding:10px 15px;
margin:10px auto 0 auto;
}
.dg-popup .modal-btn:hover,
.dg-popup .modal-btn:focus {
opacity:0.9;
color:#FFF;
}
.dg-popup .close {
color: #aaa;
float: right;
font-size: 28px;
padding:10px;
font-weight: bold;
position: absolute;
top: -10px;
right: 0px;
}
.dg-popup .close:hover,
.dg-popup .close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

@media only screen and (max-width: 767px) {

    .ifra {
        text-align: center;
  }
    .dg-popup .modal-content  {
  margin:5px;
  
}
}


/*  fin de popup  */




.contenu-footer {
width: 1200px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: flex-start;
font-size: 20px;
padding: 50px 0 100px;
}


.contenu  {
flex: 1 0 auto;

}
h1 {

font-size: 10vw;
text-align: center;
margin-top: #333333;
}
.h{


background-color: red;
font-family: Arial, Helvetica, sans-serif;
height: 100vh;
display: flex;
flex-direction: column;
}



                    /* footere*/
                    .footer {
                        flex-shrink: 0;
                        border-top: 1px dashed red;
                       width: 100%;
                        background-color: rgb(72, 0, 255);
                        color: #333;
                        width: 100%;

                       
                       
                       
                       
                        
                       }
                       .bloc {
                           width: 25%;
                            margin: auto;
                       
                       }
                       /*contact*/
                       .footer-contact h3,
                       .footer-contact h3,
                       .footer-medias h3 {
                           font-size: 25px;
                           padding-bottom: 20px;
                       
                       }
                       .footer-contact p {
                           padding: 5px 0;
                       }
                       /*service*/
                       .list-services,
                       .list-horaires,
                       .list-media {
                       
                       list-style-type: none;
                       }
                       .list-services li {
                           padding: 2px 0;
                       
                       
                       }
                       .list-services {
                           text-decoration:none ;
                           color: #333333;
                       }
                       .list-services a:hover {
                           color:  #333333;
                       }
                       /* Medias */
                       .list-media {
                           width: 40px;
                           margin:  10px 10px;
                       }
                       .list-media a {
                           text-decoration: none;
                           color: #333333;
                           display: flex;
                           align-items: center;
                           font-size: 25px;
                       }
                       
                       





.chaines {
list-style-type: none;
text-align: left;


}





.how{
text-align: center;
width: 80% !important;
margin: 0%;
top: 30% !important;
}


.hmd{
text-align: center;
margin: 0;
}

.hzara {
 text-align: center;
 margin: 0 ;
 width: 500px;
 border: 3px solid #3CC;
 margin: 20px 500px;
 padding: 10px;    
    }











/*le deput test popup*/


    .tail{
        display: none ;
        color: red;
    }
  

    .popup .overlay {
        position:fixed;
        top:0px;
        left:0px;
        width:100vw;
        height:100vh;
        background:rgba(0,0,0,0.7);
        z-index:1;
        display:none;
      }
      
      .popup .content {
        position:absolute;
        text-align: center;
        top:50%;
        left:50%;
        transform:translate(-50%,-48%) scale(0);
        background:#fff;
        width:590px;
        height:370px;
        z-index:2;
       
        padding:20px;
        box-sizing:border-box;
        font-family:"Open Sans",sans-serif;
      }
      
      .popup .close-btn {
        cursor:pointer;
        position:absolute;
        right:20px;
        top:20px;
        width:30px;
        height:30px;
        background:#222;
        color:#fff;
        font-size:25px;
        font-weight:600;
        line-height:30px;
        text-align:center;
        border-radius:50%;
      }
      
      .popup.active .overlay {
        display:block;
      }
      
      .popup.active .content {
        transition:all 300ms ease-in-out;
        transform:translate(-50%,-33%) scale(1);
      }
      
      .marque {
          padding: 2% 4% ;
      }
   .hmar1 {
      
       padding-left: 4%;
       display: inline-block  !important;
       margin: 0 2%;
       
   }
   .hmar2{
      
    padding-left: 9%;
    display: inline-block  !important;
    margin: 2% -2%;
}
.con{
background-color: red; /* Green */
border: none;
color: white;
padding: 15px 43px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 7%;
}
.con1{
background-color: #00c9ff !important; /* Green */
border: none;
color: white;
padding: 15px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 7%;
}

/*le deput test popup*/

.chain, .chaines, .films, .series   {
background-color: #fff;
border: none;
color: white;
padding: 11px 18px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
.chaines {background-color: #ffc107;} /* Green */
.series {background-color:#00c9ff;} /* Blue */
.films {background-color: red;} /* Red */

.ma{
    text-decoration: none;
    color: #008CBA;
}








@media (max-width:415px) and(max-width: 737px){
    .overlay:after {
        background-color: rgb(255 255 255 / 0%) !important;}

    
.taile{
    display: none !important;
    color: red;
}
.is-1 {
    display: none;
}
.hola {
    top: 22%;
}

}



/*   @media (max-width: 322px) and(max-width: 570px)
{  */

@media (max-width: 322px) and(max-width: 570px)
{
    
    
    .overlay:after {
        background-color: rgb(255 255 255 / 0%) !important;}
    .ifra {
    text-align: center;
    }
   /* popup px*/
   .popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 9px!important;
    top: 5px!important;
    width: 38px!important;
    height: 26px!important;
    background: #fff!important;
    color: #030303!important;
    font-size: 25px!important;
    font-weight: 600px !important;
    line-height: 30px !important;
    text-align: center;
    border-radius: 50%;
}
.tail{
    font-size: 32px !important;
    display: block !important;
    color: red;
}
.taile{
    display: none !important;
    line-height: 1.25 !important;
    color: red;
}
.is-1 {
    display: none;
}
.header{
    margin-left: -12px !important;
}
.header .header-logo {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    float: left;
    margin-left: 20px !important;
}


  

.popup .content {
    padding: 27% 22%!important;
    width: 318px!important;
    height: 448px!important
}
}
/*  la fin de @media (max-width: 322px) and(max-width: 570px)
{  */



/*  @media screen and(max-width: 5OOpx) 
{  */

@media screen and(max-width: 5OOpx)  {


    .overlay:after {
        background-color: rgb(255 255 255 / 0%) !important;}
    .ifra {
        text-align: center;
   }

    .ZBI{
    margin: 2% 3% !important;
}
.hola{
    background-color: #ffc107;
    border: none;
    color: white;
    padding:11px 11px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;

    position: absolute;
   margin:33%;
   top: 30%;
    overflow:hidden; clear:both; margin-top:35px; margin-bottom:10px; padding-bottom:0;
    text-align: center;
  
}
/* popup 500px*/
.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 9px!important;
    top: 5px!important;
    width: 16px!important;
    height: 26px!important;
    background: #fff!important;
    color: #030303!important;
    font-size: 25px!important;
    font-weight: 600px !important;
    line-height: 30px !important;
    text-align: center;
    border-radius: 50%;
}
.tail{
    font-size: 32px !important;
    display: block !important;
    color: red;
}
.taile{
    display: none !important;
    line-height: 1.25 !important;
    color: red;
}
.is-1 {
    display: none;
}

.popup .content {
    position: absolute;
    text-align: center;
    top: 50%!important;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 351px!important;
    height: 342px!important;
    z-index: 40!important;
    padding: 0px !important;
    PADDING: 0%!important;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}

.popup .content {
    padding: 27% 22%!important;
}
  /* la fin popup 500px*/
.lebel {
    display: block;
    cursor: pointer;
}
.header-menu {
   text-align: center;
   width: 100%;
}
.header-menu a {
   display: block;
   border-bottom: 1px solid #09ccb6

}
.hmar1 {
      
padding-left: 4%;
display: inline-block  !important;
margin: 0 2%;

}
.hmar2{

padding-left: 9%;
display: inline-block  !important;
margin: 8% 8%;
}
.header{
width: 0;
top: 100%;
}

.banner .banner-content{
    float: none;
    height: auto;
    top: 10% !important;
    margin-top: -29px   
}

.header .header-menu{
    float: none;
}

 


.header-menu {
    text-align: center;
    width: 100px;
}

    .header-menu a {
        display: block;
        border-bottom: 1px solid #000;
        margin: 0;
    }
    #toggle:checked + .header-menu{
        display: block;
    }
    .header {
        z-index: 0 !important;
        background-color: firebrick;
        display:  none;
    }
    .fun-facts .feature-box {
        width: 100% !important;
    }}
/* la din de @media screen and(max-width: 5OOpx) 
{  */









/* @media (max-width: 400px) and (max-width: 812px) 
{  */

@media (max-width: 400px) and (max-width: 812px){
    

    .overlay:after {
        background-color: rgb(255 255 255 / 0%) !important;}

    .ifra {
        text-align: center;
       }
    .banner .banner-content {
    float: none;
    height: auto;
    top: 12% !important;
    margin-top: 25px !important;
    font-size: 22% !important;
}
.chain, .chaines, .films, .series {
    
    padding: 9px 14px !important;
}
.is-1 {
    display: none;
}
.hola{
    top: 13% !important ;
    padding:11px 11px !important;
}

}

/* la fin de @media (max-width: 400px) and (max-width: 812px) 
{  */



    @media (prefers-reduced-motion: no-preference){
        
        .overlay:after {
            background-color: rgb(255 255 255 / 0%) !important;}
        .ifra {
            text-align: center;
           }
        .root {
        padding: 4px;
        scroll-behavior: smooth;
        MARGIN: -10px;
    }


    }

/* @media (max-width: 208px) and(max-width: 653px)
{  */
@media (max-width: 360px) and(max-width: 653px)
{
    .subtitle .heading-site {font-size: 15px !important; color: rgb(248, 0, 0);} 
  
.popup .content {
    position: absolute;
    text-align: center;
    top: 50%!important;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 277px!important;
    height: 491px!important;
    z-index: 66!important;
    padding: 0px !important;
    PADDING: 0%!important;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
.chain, .chaines, .films, .series {
    padding: 7px 12px !important;
}
body, button, input, optgroup, select, textarea {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 2PX 7% !important;
    font-size: 14px !important;
}

.header .header-logo {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    float: left;
    margin-left: 20px;
}

  /* popup px*/
.popup .close-btn {
cursor: pointer;
position: absolute;
right: 9px!important;
top: 5px!important;
width: 16px!important;
height: 26px!important;
background: #fff!important;
color: #030303!important;
font-size: 25px!important;
font-weight: 600px !important;
line-height: 30px !important;
text-align: center;
border-radius: 50%;
}
.tail{
font-size: 32px !important;
display: block !important;
}
.taile{
display: none !important;
}
.hmar1 {
      
padding-left: 4%;
display: inline-block  !important;
margin: 0 2%;

}
.hmar2{

padding-left: 9%;
display: inline-block  !important;
margin: 8% 8%;
}
.hola{
    display: none !important;
}

.popup .content {
position: absolute;
text-align: center;
top: 50%!important;
left: 50%;
transform: translate(-50%,-50%) scale(0);
background: #fff;
width: 359px!important;
height: 448px!important;
z-index: 40!important;
padding: 0px !important;
PADDING: 0%!important;
box-sizing: border-box;
font-family: "Open Sans",sans-serif;
}

.popup .content {
padding: -1% 22%!important;
}
/* la fin popupx*/
}

/* @media fin de (max-width: 208px) and(max-width: 653px)
{  */



/*@media (max-width: 707px) and (max-width: 959px) 
{  */


@media (max-width: 707px) and (max-width: 959px) { 

    .overlay:after {
        background-color: rgb(255 255 255 / 0%) !important;}
    .ifra {
        text-align: center;
        margin: 16px 58px !important;
        padding: 2% 11% !important;}
    .hola{
    background-color: #c11111 ;
    border: none;
    color: white;
    padding:11px 11px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;



    position: absolute;
   margin:36%;
   top: 30%;
    overflow:hidden; clear:both; margin-top:35px; margin-bottom:10px; padding-bottom:0;
    text-align: center;
   
   
}
  
/* popup 700px*/
.popup .close-btn {
cursor: pointer;
position: absolute;
right: 9px!important;
top: 5px!important;
width: 16px!important;
height: 26px!important;
background: #fff!important;
color: #030303!important;
font-size: 25px!important;
font-weight: 600px !important;
line-height: 30px !important;
text-align: center;
border-radius: 50%;
}
.tail{
font-size: 32px !important;
display: block !important;
}
.taile{
display: none !important;
}
.hmar1 {
      
padding-left: 4%;
display: inline-block  !important;
margin: 0 2%;

}
.hmar2{

padding-left: 9%;
display: inline-block  !important;
margin: 8% 8%;
}

.popup .content {
position: absolute;
text-align: center;
top: 50%!important;
left: 50%;
transform: translate(-50%,-50%) scale(0);
background: #fff;
width: 359px!important;
height: 448px!important;
z-index: 40!important;
padding: 0px !important;
PADDING: 0%!important;
box-sizing: border-box;
font-family: "Open Sans",sans-serif;
}

.popup .content {
padding: -1% 22%!important;
}
/* la fin popup 700px*/
.banner .banner-content{
    float: none;
    height: auto;
    top: 10% !important;
    margin-top: -13px   
}
.ZBI{
margin: 2% 3% !important;
}
.banner .banner-unmois 
{
    background-color: #c11111b1; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 10% !important;


 }   
.header-menu{
    z-index: 0;
    display: none;
}
}


/*@media fin de (max-width: 707px) and (max-width: 959px) 
{  */






/* @media (max-width: 768px) and (max-width: 1024px)
{  */
@media (max-width: 768px) and (max-width: 1024px)
{

    .overlay:after {
        background-color: rgb(255 255 255 / 0%) !important;}
.hola{
    top: 22%;
    margin: 41%;
}
.sal{
padding: 4% 23% !important;
}
body{
margin: 2% !important;
}
}

/* @media (max-width:1024px) and (max-width: 1366px)
{  */

@media (max-width:1024px) and (max-width: 1366px){}
.overlay:after {
    background-color: rgb(255 255 255 / 0%) !important;}

.ifra {
    text-align: center;
    margin: 1px 133px !important;
    padding: 1% 27% !important;}

    .hola{
        top: 19%;
    }
    .chain, .chaines, .films, .series {
       
        padding: 25px 12px ;
       
}
/* @media la fin de (max-width:1024px) and (max-width: 1366px)
{  */


    @media (max-width:1024px) and (max-width: 1366px)

 
    {.overlay:after {
        background-color: rgb(255 255 255 / 0%) !important;}
        
        .hola{
            top: 26%;}
            .chain, .chaines, .films, .series {
       
                padding: 10px 9px; ;    }
    
    
    }


    @media (max-width: 282px) and (max-width: 660px){
        .overlay:after {
            background-color: rgb(255 255 255 / 0%) !important;}
        .ifra {
            text-align: center;
            margin: 16px 58px !important;
            padding: 2% 11% !important;}
        .chain, .chaines, .films, .series {
            padding: 6px 2px !important;
        }
    }
    @media (max-width: 600px) and (max-width: 1024px){
        .overlay:after {
            background-color: rgb(255 255 255 / 0%) !important;}

        .title.is-1 {
            font-size: 2rem;
        }


        .hola {
            top: 13% !important;
        }
        p {
         
            font-size: unset;
            
        }
    }



@media (max-width: 644px) and (max-width: 
722px){
    .ifra {
        text-align: center;
        margin: 8px 30px !important;
        padding: 1% 26% !important;
    }
}
